body {
    background-color: #7A93AC;
    font-family: Arial, Helvetica, sans-serif;
    color : #FFFFFF;
}

.container {
    border: 3px solid #FFFFFF;
    padding: 10%;
    margin: 5%;
    text-align: center;
}